/* Fonts */
@font-face {
    font-family: 'proxima_nova_thin';
    src: url('../fonts/proxima-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/proxima-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/proxima-nova-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_black';
    src: url('../fonts/proximanova-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/proximanova-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*Gshow*/
    --gshow-primary: #FF6700;
    --special-ad: #ffaa00;
    --text-primary: #333333;
    --confirmation-btn: #3AB7EA;
    --footer: #F6F6F7;

    /*Mercado Livre*/
    --primary: #ffe30b;
    --secondary: #FFFFFF;
    --ml-text-color: #2D3277;
}

html {
    overflow-y: scroll;
    overflow-x: hidden !important;
}

/* Estilos gerais */
body {
    font-family: 'proxima_nova_regular';
    background-color: var(--primary);
}

footer {
    background-color: var(--footer);
}

.secondary-body {
    background-color: var(--secondary);
}

a {
    color: var(--text-primary);
    /* Sets the text color to the primary color variable defined in your CSS */
    font-size: 1.2rem;
    /* Increases the font size */
}

a:hover {
    color: var(--secondary);
    /* Changes the color on hover to the secondary color */
    text-decoration: underline;
    /* Adds an underline on hover for better visibility */
}

/* Menu options section*/

.menu-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    z-index: 999;
}

.special-ad {
    background-color: var(--special-ad);
    /* Using the primary color variable defined in :root */
    color: var(--secondary);
    /* Optional: Using the secondary color for text */
    font-size: 15px;
    /* Optional: Increases the font size */
    text-align: center;
    /* Centers the text inside the div */
}

/* Quiz Section*/

.quiz-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.quiz-counter {
    background-color: var(--text-primary);
    /* Using the primary color variable defined in :root */
    color: var(--secondary);
    /* Optional: Using the secondary color for text */
    font-size: 18px;
    /* Optional: Increases the font size */
    text-align: center;
    /* Centers the text inside the div */
}

.quiz-quest {
    font-family: 'proxima_nova_bold';
    font-size: 29px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease-in-out;
}

/* Video Section*/
#video,
#video .clappr-player {
    min-height: 600px !important;
}

.video-player {
    background-color: #000;
    min-height: 350px;
    width: 100%;
    border-radius: 30px;
}

/* Estilos para o vídeo */
.video-player-fw {
    width: calc(100% - 40px);
    /* Margem de 20px em cada lado */
    margin: 0 20px;
    height: 60vh;
    /* 60% da altura da viewport */
    background: #000;
    /* Cor de fundo, ajuste conforme necessário */
}

.clappr-player {
    min-height: 350px !important;
    width: 100% !important;
    border-radius: 30px !important;
}

.video-title {
    font-family: 'proxima_nova_bold';
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.video-desc {
    font-size: 20px;
    line-height: 24px;
}

.video-paragraph {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.video-paragraph-bold {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'proxima_nova_bold';
}

.video-text-header {
    font-family: 'proxima_nova_bold';
    font-weight: 700;
    font-size: 46px;
    line-height: 44px;
}


.video-text-header-cs {
    font-family: 'proxima_nova_bold';
    font-weight: 700;
    font-size: 44px;
    line-height: 42px;
}

.video-paragraph-cs {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.video-paragraph-bold-cs {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    font-family: 'proxima_nova_bold';
}

.btn-play {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #00BCFF !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 54px !important;
    color: var(--secondary) !important;
    border-radius: 15px !important;
    padding: 5px 20px !important;
    max-height: 60px !important;
    white-space: nowrap !important;
    transition: 1s !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    /* Adiciona a sombra */

}

/* Images section*/

.img2 {
    position: relative;
    left: 4.5rem;
    scale: 1.3;
    bottom: 6rem;
}

.img-title {
    font-family: 'proxima_nova_bold';
    font-size: 52px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: var(--ml-text-color);
}

.img-description {
    font-family: 'proxima_nova_bold';
    font-weight: 700;
    font-size: 56.21px;
    line-height: 56.21px;
    color: var(--ml-text-color);
    white-space: nowrap;
}

/*absolute images*/

.abs-img1 {
    z-index: -2;
    bottom: 6.6rem;
    right: -2rem;
    max-width: 465px;
    max-height: 211px;
}

.abs-img2 {
    z-index: -1;
    bottom: -17rem;
    left: -10rem;
    max-width: 211px;
    max-height: 465px
}

.abs-img3 {
    left: 0px;
    top: 10rem;
}

.abs-img4 {
    z-index: 0;
    bottom: 6rem;
    right: 0px;
    /* width: 100%; */
    /* height: 100%; */
    max-width: 211px;
    max-height: 465px;
}

.text-header1 {
    font-family: 'proxima_nova_bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.text-header1-yl {
    font-family: 'proxima_nova_bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFE600;
}

.text-p1 {
    font-size: 22.7px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.text-p1-bold {
    font-family: 'proxima_nova_bold';
    font-size: 23.3px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.txt-header1 {
    font-family: 'proxima_nova_bold';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.p01 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

/* Buttons Section*/

.text-button-true {
    font-family: 'proxima_nova_semibold';
}

.text-button-false {
    font-family: 'proxima_nova_semibold';
}

.custom-button {
    background-color: var(--secondary);
    /* Sets background color to white for both buttons */
    border-color: var(--text-primary);
    border-radius: 10px;
    /* Rounded corners */
    border: solid;
    font-size: 16px;
    /* Sets a font size */
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    outline: none;
    /* Removes outline */
    padding: 25px;
    animation: fadeIn 0.5s ease-in-out;
}

.btn-black {
    background-color: var(--text-primary) !important;
    color: var(--secondary) !important;
}

.btn-true {
    border-color: var(--text-primary);
    color: var(--text-primary);
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--text-primary);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.btn-false {
    color: var(--text-primary);
    /* Keeps the text color of the second button black */
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--text-primary);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.btn-goToLink {
    font-family: 'proxima_nova_bold';
    background-color: var(--ml-text-color);
    border: none;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--secondary);
    border-radius: 40px;
    padding: 10px 60px;
}

.text-explanation {
    margin-top: 10px !important;
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 100 !important;
    line-height: 22px !important;

    animation: fadeIn 0.5s ease-in-out;
}

.result {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--text-primary);
    font-size: 16px;
    padding: 40px;
    position: relative;
    padding-left: 100px;

    animation: fadeIn 0.5s ease-in-out;
}

.result-image {
    position: absolute;
    max-width: 325px;
    left: -260px;
    top: 20px;
}

.result-text-bold {
    color: var(--text-primary);
    font-size: 32px;
    font-family: 'proxima_nova_black';
}

.result-text-span {
    color: var(--text-primary);
    font-size: 20px;
    line-height: 22px;
}

.bottom-img {
    max-width: 200px;
    margin-right: 200px;
    margin-top: -150px;
}

/* Estilos para o letreiro */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 40px);
    /* Margem de 20px em cada lado */
    margin: 0 20px;
    height: 1.5em;
    /* Ajuste conforme necessário para garantir que o texto não corte */
    line-height: 1.5em;
    /* Ajuste conforme necessário para garantir que o texto não corte */
}

.marquee::before {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Media Queries to adjust font size based on the width of the viewport */
@media (max-width: 1400px) {
    .text-header1 {
        font-size: 40px;
        /* Smaller font-size for smaller devices */
    }

    .text-p1 {
        font-size: 18.9px;
    }

    .text-p1-bold {
        font-size: 19.5px;
    }

    .quiz-quest {
        font-size: 24px;
    }

    .img-title {
        font-size: 44px;
    }

    .img2 {
        bottom: 5rem;
    }

    .abs-img1 {
        z-index: -1;
        bottom: 5.5rem;
        right: -3rem;
        max-width: 465px;
        max-height: 211px;
    }

    .video-text-header {
        font-size: 40px;
    }

    .video-paragraph {
        font-size: 19px;
    }

    .video-paragraph-bold {
        font-size: 19px;
    }

    .video-text-header-cs {
        font-size: 38px;
    }

    .video-paragraph-cs {
        font-size: 17px;
    }

    .video-paragraph-bold-cs {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .text-header1 {
        font-size: 34px;
        /* Smaller font-size for smaller devices */
    }

    .text-p1 {
        font-size: 16px;
    }

    .text-p1-bold {
        font-size: 16.5px;
    }

    .quiz-quest {
        font-size: 20px;
    }

    .img-title {
        font-size: 36px;
    }

    .img2 {
        position: relative;
        left: 3rem;
        scale: 1.3;
        bottom: 3.5rem;
    }

    .abs-img1 {
        z-index: -1;
        bottom: 3.5rem;
        right: -4rem;
        max-width: 465px;
        max-height: 211px;
        scale: 0.8;
    }

    .abs-img3 {
        left: -50px;
    }

    .video-text-header {
        font-size: 33px;
    }

    .video-paragraph {
        font-size: 16px;
    }

    .video-paragraph-bold {
        font-size: 16px;
    }

    .video-text-header-cs {
        font-size: 31px;
    }

    .video-paragraph-cs {
        font-size: 14px;
    }

    .video-paragraph-bold-cs {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    #video,
    #video .clappr-player {
        min-height: 350px !important;
    }

    .text-header1 {
        font-size: 26px;
        text-align: center;
    }

    .text-p1 {
        text-align: center;
        font-size: 16px;
    }

    .text-p1-bold {
        font-size: 16.5px;
    }

    .img-title {
        font-size: 54px;
        line-height: 50px;
    }

    .result {
        padding-left: 40px !important;
    }

    .result-image {
        position: relative !important;
        max-width: 100% !important;
        left: 0px !important;
        top: 0px !important;
        margin-bottom: 30px !important;
    }

    .abs-img3,
    .abs-img4 {
        display: none !important;
    }

    .img2 {
        position: relative;
        left: 0px !important;
        scale: 1 !important;
        bottom: 0px !important;
    }

    .abs-img1 {
        z-index: -1;
        bottom: 0px !important;
        right: 0px !important;
        max-width: 100% !important;
        max-height: 211px;
        scale: 1 !important;
    }

    .img-ml {
        max-width: 75% !important;
    }

    .bottom-img {
        max-width: 150px !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
    }

    .video-text-header {
        text-align: center;
        font-size: 44px;
    }

    .video-paragraph {
        text-align: center;
        font-size: 24px;
    }

    .video-paragraph-bold {
        text-align: center;
        font-size: 24px;
    }

    .video-text-header-cs {
        text-align: center;
        font-size: 42px;
    }

    .video-paragraph-cs {
        text-align: center;
        font-size: 22px;
    }

    .video-paragraph-bold-cs {
        text-align: center;
        font-size: 22px;
    }

    .btn-play-container {
        justify-content: center !important;
        align-items: center !important;
    }
}

@media (max-width: 768px) {
    .text-header1 {
        font-size: 19.3px;
        font-weight: 900;
    }

    .text-p1 {
        font-size: 18.9px;
    }

    .text-p1-bold {
        font-size: 18.5px;
    }

    .quiz-quest {
        font-size: 19px;
    }

    .img-title {
        font-size: 50px;
    }

    .video-text-header {
        text-align: center;
    }

    .video-paragraph {
        text-align: center;
    }

    .abs-img1 {
        z-index: -1;
        bottom: 10rem;
        right: -3rem;
        scale: 1;
    }
}

@media (max-width: 576px) {
    .text-header1 {
        font-size: 19px;
    }

    .text-p1 {
        font-size: 18.9px;
    }

    .text-p1-bold {
        font-size: 19.5px;
    }

    .video-text-header {
        text-align: center;
    }

    .video-paragraph {
        text-align: center;
    }
}

@media (max-width: 530px) {
    .text-header1 {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .text-p1 {
        font-size: 18.9px;
    }

    .text-p1-bold {
        font-size: 19.5px;
    }

    .img-title {
        text-align: center;
        font-size: 46px;
    }

    .video-text-header {
        text-align: center;
    }

    .video-paragraph {
        text-align: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #ffd100;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--confirmation-btn);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ffd100;
}

.header {
    transition: transform 1s;
}

.header2 {
    display: none;
}

.video-title,
.video-desc {
    word-wrap: break-word;
    white-space: normal;
}